/* Screen 1 Maps of Freedonia and Elonia entrance */
/* Freedonia's entrance */


#FreedMap {
  width: 339px;
  height: 283px;
  left: 400px;
  top: 100px;
  background-image: url('../images/Freedonia-map.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: FreedMapEnterKeyframes 2s;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes FreedMapEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#FreedoniaPin {
  width: 117px;
  height: 193px;
  left: 550px;
  top: 10px;
  background-image: url('../images/Freedonia-pin.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: FreedPinEnterKeyframes 2s;
  animation-fill-mode: forwards;
  z-index: 6;
}

@keyframes FreedPinEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#FreedMapTitle {
  top: 180px;
  left: 450px;
  opacity: 0;
  position: absolute;
  font-weight: bold;
  animation: FreedMapTitleOnce 1s 1s;
  -webkit-animation: FreedMapTitleOnce 1s 1s;
  animation-fill-mode: forwards;
  z-index: 6;
}

@keyframes FreedMapTitleOnce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FreedMapTitleOnce {
  0%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ENDOF Freedonia's entrance */

/* Elonia's entrance */
#EloniaMap {
  width: 408px;
  height: 318px;
  left: 850px;
  top: 20px;
  background-image: url('../images/Elonia-map.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: EloniaEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes EloniaEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#EloniaPin {
  width: 118px;
  height: 194px;
  left: 950px;
  top: 10px;
  background-image: url('../images/Elonia-pin.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: EloniaPinEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPinEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#EloniaMapTitle {
  left: 1030px;
  top: 180px;
  position: absolute;;
  font-weight: bold;
  opacity: 0;
  animation: EloniaMapTitleOnce 2s 2s;
  -webkit-animation: EloniaMapTitleOnce 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes EloniaMapTitleOnce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes EloniaMapTitleOnce {
  0%{
opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* ENDOF Elonia's entrance */

#MapsLine{
  height:0px;
  width:1px;
  left: 600px;
  top: 200px;
  position: absolute;
  border-bottom: 2px dashed #ff0000;
  z-index: 10;

  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s;
  -o-animation:      increase 3s;
  animation:         increase 3s;
  animation-fill-mode: forwards;

}

@keyframes increase {
    100% {
        width: 380px;
    }
}

#DCUIOne{
  height:200px;
  width:290px;
  left: 340px;
  top: 460px;
  position: absolute;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  background-image: url('../images/dc-ui-1.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: DCUIOneOnce 3s 3.5s;
  -moz-animation:    DCUIOneOnce 3s 3.5s;
  -o-animation:      DCUIOneOnce 3s 3.5s;
  animation:         DCUIOneOnce 3s 3.5s;
  animation-fill-mode: forwards;
}

@keyframes DCUIOneOnce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#DCUITwo{
  height:200px;
  width:290px;
  left: 660px;
  top: 460px;
  position: absolute;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  background-image: url('../images/dc-ui-2.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: DCUITwoOnce 3s 4s;
  -moz-animation:    DCUITwoOnce 3s 4s;
  -o-animation:      DCUITwoOnce 3s 4s;
  animation:         DCUITwoOnce 3s 4s;
  animation-fill-mode: forwards;
}

@keyframes DCUITwoOnce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#DCUIThree{
  height:200px;
  width:290px;
  left: 980px;
  top: 460px;
  position: absolute;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  background-image: url('../images/dc-ui-3.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: DCUIThreeOnce 3s 4.5s;
  -moz-animation:    DCUIThreeOnce 3s 4.5s;
  -o-animation:      DCUIThreeOnce 3s 4.5s;
  animation:         DCUIThreeOnce 3s 4.5s;
  animation-fill-mode: forwards;
}

@keyframes DCUIThreeOnce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* EndOf Screen 1 Maps of Freedonia and Elonia entrance */


/* Screen 2 Authentication screens */

#testOne {
  left: 1480px;
  bottom: 71px;
  position: absolute;
  width: 621px;
  height: 517px;
  z-index: 1;
  background-size: 0% 0%;
  animation: testOneEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes testOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}


#AuthenticationMethOne {
  background: url('../images/monitor-1.png') no-repeat left;
  left: 1480px;
  bottom: 71px;
  position: absolute;
  width: 621px;
  height: 517px;
  z-index: 1;
  background-size: 0% 0%;
  animation: AuthOneEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes AuthOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}


#AuthenticationMethTwo {
  background: url('../images/eID-screen.png') no-repeat left;
  left: 2180px;
  top: 71px;
  position: absolute;
  width: 369px;
  height: 257px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  z-index: 2;
  opacity: 0;
  animation: AuthTwoEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes AuthTwoEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}

#AuthenticationMethThree {
  background: url('../images/login-screen.png') no-repeat left;
  left: 2350px;
  top: 271px;
  position: absolute;
  width: 369px;
  height: 257px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  z-index: 2;
  opacity: 0;
  animation: AuthThreeEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes AuthThreeEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}

/* EndOf Screen 2 Authentication screens */

/* Screen 3 Authentication screens */

#eIDASNode{
  background: url('../images/confirm-screen.png') no-repeat left;
  left: 2800px;
  top: 100px;
  position: absolute;
  width: 401px;
  height: 258px;
  z-index: 3;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  animation: eIDASNodeEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}


#eIDASNodeOK{
  background: url('../images/ok-right.png') no-repeat left;
  left: 2800px;
  top: 150px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 0% 0%;
  animation: eIDASNodeOKEnterKeyframes 2s 1s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeOKEnterKeyframes {
  0% {
    background-size: 0% 0%;
    left: 2800px;
  }
  100% {
    background-size: 100% 100%;
    left: 3200px;
  }
}

#MaxsAuthenticated {
  background: url('../images/monitor-2.png') no-repeat left;
  left: 3450px;
  bottom: 71px;
  position: absolute;
  width: 616px;
  height: 512px;
  z-index: 2;
  background-size: 0% 0%;
  animation: MaxsAuthenticatedEnterKeyframes 2s 4s;
  animation-fill-mode: forwards;
}

@keyframes MaxsAuthenticatedEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/* EndOf Screen 3 Authentication screens */

/* Screen 4 Authentication screens */

#GetCompanyInfo {
  background: url('../images/reg-magnifying-screen.png') no-repeat left;
  left: 4150px;
  top: 180px;
  position: absolute;
  width: 418px;
  height: 281px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  z-index: 2;
  animation: GetCompanyInfoEnterKeyframes 2s 1s;
  animation-fill-mode: forwards;
}

@keyframes GetCompanyInfoEnterKeyframes {
  0% {
opacity: 0;
  }
  100% {
opacity: 1;
  }
}

#GetCompanyInfoOk {
  background: url('../images/check-list.png') no-repeat left;
  left: 0px;
  top: 180px;
  position: absolute;
  width: 281px;
  height: 247px;
  z-index: 1;
  background-size: 0% 0%;
  animation: GetCompanyInfoOkEnterKeyframes 2s 1.5s;
  animation-fill-mode: forwards;
}

@keyframes GetCompanyInfoOkEnterKeyframes {
  0% {
    left: 4500px;
    background-size: 0% 0%;
  }
  100% {
    left: 4550px;
    background-size: 100% 100%;
  }
}

#Consent{
  background: url('../images/consent-screen.png') no-repeat left;
  left: 4960px;
  top: 110px;
  position: absolute;
  width: 422px;
  height: 377px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  z-index: 1;
  animation: ConsentEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes ConsentEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* EndOf Screen 4 Authentication screens */

/* Screen 5 Authentication screens */

#TruckFreeBMOne {
  background: url('../images/Freedonia-Truck-BM.png') no-repeat left;
  left: 0px;
  bottom: 71px;
  position: absolute;
  width: 282px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckFreeBMOneEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckFreeBMOneEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 5490px;
    background-size: 100% 100%;
  }

}

#FreePackageOne {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 0;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  opacity: 0;
  z-index: 1;
  animation-fill-mode: forwards;
}

.FreePackageMoveOne {
  animation: FreePackageOneEnterKeyframes 7.2s 2s;
}

@keyframes FreePackageOneEnterKeyframes {
  0% {
    opacity: 0;
    left: 5635px;
  }

  30% {
    opacity: .5;
    left: 5635px;
  }
  40% {
    left: 6085px;
    opacity: .5;
  }

  60% {
    opacity: 1;
    left: 6085px;
  }

  80% {
    opacity: .5;
    left: 6625px;
  }

  100% {
    opacity: 1;
    left: 6625px;
  }
}

.FreePackageMoveTwo {
  animation: FreePackageMoveTwoEnterKeyframes 8s 2s;
}

@keyframes FreePackageMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    left: 6625px;
    bottom: 150px;
  }
  25% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7345px;
    bottom: 150px;
  }
  50% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7345px;
    bottom: 150px;
  }
  75% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7345px;
    bottom: 150px;
  }
100% {
  opacity: 1;
  background-size: 65% 65%;
  left: 7820px;
  bottom: 180px;
  }
}

.FreePackageMoveThree {
  animation: FreePackageMoveThreeEnterKeyframes 2s 2s;
}
@keyframes FreePackageMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    left: 7820px;
    bottom: 150px;
    background-size: 100% 100%;
  }
  100% {
    opacity: 1;
    left: 8945px;
    bottom: 150px;
    background-size: 100% 100%;
  }
}

#TruckTOOPBMOne {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 0px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 2;
  background-size: 100% 100%;
  animation-fill-mode: forwards;
}

.TruckTOOPBMMoveOne {
    animation: TruckTOOPBMOneEnterKeyframes 8s 2s;
}

@keyframes TruckTOOPBMOneEnterKeyframes {
  0% {
    left: 0px;
  }

  25% {
    left: 5940px;
  }

  50% {
    left: 5940px;
  }

75% {
  left: 6480px;
  }

100% {
    left: 6480px;
  }

}

.TruckTOOPBMMoveTwo {
    animation: TruckTOOPBMMoveTwoEnterKeyframes 2s 2s;
}

@keyframes TruckTOOPBMMoveTwoEnterKeyframes {
  0% {
    left: 6480px;
  }

  100% {
    left: 7200px;
  }
}

.TruckTOOPBMMoveThree {
    animation: TruckTOOPBMMoveThreeEnterKeyframes 2s 2s;
}

@keyframes TruckTOOPBMMoveThreeEnterKeyframes {
  0% {
    left: 7500;
  }

  100% {
    left: 8800px;
  }
}

#TOOPPackageOne{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 6575px;
  bottom: 353px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.TOOPPackageMoveOne {
    animation: TOOPPackageOneEnterKeyframes 2s 8s;
}

@keyframes TOOPPackageOneEnterKeyframes {
  0% {
    opacity: 0;
    bottom: 353px;
  }

  100% {
      opacity: 1;
      bottom: 150px;
  }

}

.TOOPPackageMoveTwo {
    animation: TOOPPackageMoveTwoEnterKeyframes 8.2s 2s;
}

@keyframes TOOPPackageMoveTwoEnterKeyframes {
  0% {
    left: 6575px;
    opacity: 1;
    bottom: 150px;
  }
25% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7295px;
    bottom: 150px;
  }
  50% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7295px;
    bottom: 150px;
  }
  75% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7295px;
    bottom: 150px;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
    bottom: 150px;
    left: 7840px;
  }

}

.TOOPPackageMoveThree {
    animation: TOOPPackageMoveThreeEnterKeyframes 2.1s 2s;
}

@keyframes TOOPPackageMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 7840px;
    }
  100% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 8895px;
    }
  }

#TOOPPackageTwo {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7245px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.TOOPPackageMoveTwoTwo {
  animation: TOOPPackageMoveTwoTwoEnterKeyframes 8s 2s;
}

@keyframes TOOPPackageMoveTwoTwoEnterKeyframes {
  0% {
    opacity: 0;
    background-size: 100% 100%;
    bottom: 353px;
    left: 7245px;
  }

  25% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7245px;
    bottom: 150px;
  }
  50% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7245px;
    bottom: 150px;
  }
  75% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7245px;
    bottom: 150px;
  }

  100% {
    opacity: 1;
    background-size: 65% 65%;
    bottom: 150px;
    left: 7810px;
  }

}

.TOOPPackageMoveThreeThree {
    animation: TOOPPackageMoveThreeThreeEnterKeyframes 2.2s 2s;
}

@keyframes TOOPPackageMoveThreeThreeEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 7810px;
    }
  100% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 8845px;
    }
  }

#SemanticMappingOne {
  background: url('../images/Semantic-mapping-FT.png') no-repeat left;
  left: 6300px;
  top: 110px;
  position: absolute;
  width: 394px;
  height: 389px;
  z-index: 1;
  background-size: 100% 100%;
  opacity: .1;
  animation-fill-mode: forwards;
  animation: SemanticMappingOneEnterKeyframes 4s 5s;
  animation-timing-function: linear;
}

@keyframes SemanticMappingOneEnterKeyframes {
  0% {
    opacity: .1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/* EndOf Screen 5 Authentication screens */

/* Screen 6 Authentication screens */

#DataDiscoveryOne {
  background: url('../images/Data-Discovery.png') no-repeat left;
  left: 6850px;
  top: 120px;
  position: absolute;
  width: 655px;
  height: 391px;
  z-index: 1;
  opacity: 0;
  background-size: 0% 0%;
  animation: DataDiscoveryOneEnterKeyframes 1s;
  animation-fill-mode: forwards;
}

@keyframes DataDiscoveryOneEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-size: 90% 90%;
  }
}

#TruckTOOPBMThree {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 7000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMThreeEnterKeyframes 2s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMThreeEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 7200px;
    background-size: 100% 100%;
  }

}

#BaloonOne {
  background: url('../images/Baloon.png') no-repeat left;
  left: 7660px;
  top: 71px;
  position: absolute;
  width: 363px;
  height: 538px;
  z-index: 1;
  animation: BaloonOneEnterKeyframes ease-in-out 2s 6s alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes BaloonOneEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

/* EndOf Screen 6 Authentication screens */

/* Screen 7 Elonia Trip */



#SemanticMappingTwo {
  background: url('../images/Semantic-mapping-TE.png') no-repeat left;
  left: 8450px;
  top: 81px;
  position: absolute;
  width: 394px;
  height: 389px;
  z-index: 1;
  background-size: 100% 100%;
  opacity: 0;
  animation: SemanticMappingTwoEnterKeyframes 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes SemanticMappingTwoEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

#EloniaPackageOne {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 8920px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

.EloniaPackageMoveOne {
    animation: EloniaPackageMoveOneEnterKeyframes 2s 3s ease-in-out alternate;
}
@keyframes EloniaPackageMoveOneEnterKeyframes {
  0% {
    opacity: 0;
    bottom: 403px;
    transform: rotate(3deg);
  }
  50% {
    bottom: 403px;
    transform: rotate(-3deg);
  }
  100% {
      bottom: 203px;
      opacity: 1;
      transform: rotate(0deg);
  }
}

/* EndOf Screen 7 Elonia Trip */


/* Screen 8 */

#TruckTOOPBMSix {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 8800px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMSixEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMSixEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 9600px;
    background-size: 100% 100%;
  }

}

#FreePackageEight {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 9745px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageEightEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageEightEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageTen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 9695px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageTenEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageTenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageEleven {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 9645px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageElevenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageElevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageTwo {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 9720px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageTwoEnterKeyframes 2s 3.5s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageTwoEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

/* Elonias Truck */

#TruckEloniaBMOne {
  background: url('../images/Elonia-Truck-BM.png') no-repeat left;
  left: 9600px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 146px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckEloniaBMOneEnterKeyframes 2s 4.5s;
  animation-fill-mode: forwards;
}

@keyframes TruckEloniaBMOneEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 10200px;
    background-size: 100% 100%;
  }

}

#FreePackageNine {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 10345px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageNineEnterKeyframes 2s 7s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageNineEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageTwelve {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 10295px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageTwelveEnterKeyframes 2s 7.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageTwelveEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageThree {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 10325px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageThreeEnterKeyframes 2s 8s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageThreeEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}
/* EndOf Elonias Truck */

/*EnOf Screen 8 */

/* Screen 9 */
/* Elonias Truck */
#TruckEloniaBMTwo {
  background: url('../images/Elonia-Truck-BM.png') no-repeat left;
  left: 9600px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 146px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckEloniaBMTwoEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckEloniaBMTwoEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 11000px;
    background-size: 100% 100%;
  }

}

#FreePackageTen {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 11145px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageTenEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageTenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageThirteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 11095px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageThirteenEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageThirteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageFour {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 11120px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageFourEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageFourEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageOne {
  background: url('../images/data.png') no-repeat left;
  left: 11030px;
  bottom: 153px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageOneEnterKeyframes 2s 3.5s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes DataPackageOneEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}
/* EndOf Elonias Truck */

/* TOOP Truck */

#TruckTOOPBMSeven {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 11000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMSevenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMSevenEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 11560px;
    background-size: 100% 100%;
  }

}

#FreePackageEleven {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 11700px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageElevenEnterKeyframes 2s 6s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageElevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageFourteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 11650px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageFourteenEnterKeyframes 2s 6.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageFourteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageFive {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 11675px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageFiveEnterKeyframes 2s 7s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageFiveEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageTwo {
  background: url('../images/data.png') no-repeat left;
  left: 11585px;
  bottom: 153px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageTwoEnterKeyframes 2s 7.5s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes DataPackageTwoEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

/* EndOf TOOP Truck */
/* EndOf Screen 9 */

/* Screen 10 */
#DataDiscoveryTwo {
  background: url('../images/Data-Discovery.png') no-repeat left;
  left: 12320px;
  top: 100px;
  position: absolute;
  width: 655px;
  height: 391px;
  z-index: 1;
  opacity: 0;
  background-size: 0% 0%;
  animation: DataDiscoveryTwoEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes DataDiscoveryTwoEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-size: 90% 90%;
  }

}

#BaloonTwo {
  background: url('../images/Baloon.png') no-repeat left;
  left: 13150px;
  top: 71px;
  position: absolute;
  width: 363px;
  height: 538px;
  z-index: 1;
  animation: BaloonTwoEnterKeyframes ease-in-out 1s 3s infinite alternate, BaloonTwoOpacity 1s 3s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  opacity: 0;
}

@keyframes BaloonTwoOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes BaloonTwoEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#FreePackageTwelve{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 13300px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: FreePackageTwelveEnterKeyframes ease-in-out 1s 5s infinite alternate, FreePackageTwelveOpacity 1s 5s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes FreePackageTwelveOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }

  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes FreePackageTwelveEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#TOOPPackageFifteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13335px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: TOOPPackageFifteenEnterKeyframes ease-in-out 1s 5.5s infinite alternate, TOOPPackageFifteenOpacity 1s 5.5s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes TOOPPackageFifteenOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes TOOPPackageFifteenEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#TOOPPackageSixteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13335px;
  bottom: 180px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: TOOPPackageSixteenEnterKeyframes ease-in-out 1s 6s infinite alternate, TOOPPackageSixteenOpacity 1s 6s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes TOOPPackageSixteenOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes TOOPPackageSixteenEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#EloniaPackageSix {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 13300px;
  bottom: 180px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: EloniaPackageSixEnterKeyframes ease-in-out 1s 6.5s infinite alternate, EloniaPackageSixOpacity 1s 6.5s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes EloniaPackageSixOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes EloniaPackageSixEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#DataPackageThree {
  background: url('../images/data.png') no-repeat left;
  left: 13315px;
  bottom: 208px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  animation: DataPackageThreeEnterKeyframes ease-in-out 1s 7s infinite alternate, DataPackageThreeOpacity 1s 7s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes DataPackageThreeOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes DataPackageThreeEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}
/* EndOf Screen 10 */

/* Screen 11 */
#TruckTOOPBMEight {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 13000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMEightEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMEightEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 13700px;
    background-size: 100% 100%;
  }

}

#FreePackageThirteen{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 13845px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageThirteenEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageThirteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageSeventeen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13795px;
  bottom: 200px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageSeventeenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageSeventeenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageEighteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13795px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageEighteenEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageEighteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


#EloniaPackageSeven {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 13845px;
  bottom: 200px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageSevenEnterKeyframes 2s 3.5s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageSevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageFour {
  background: url('../images/data.png') no-repeat left;
  left: 13715px;
  bottom: 150px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageFourEnterKeyframes 2s 4s;
  animation-fill-mode: forwards;
}

@keyframes DataPackageFourEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


#TruckFreeBMTwo {
  background: url('../images/Freedonia-Truck-BM.png') no-repeat left;
  left: 13500px;
  bottom: 71px;
  position: absolute;
  width: 282px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckFreeBMTwoEnterKeyframes 2s 4s;
  animation-fill-mode: forwards;
}

@keyframes TruckFreeBMTwoEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 14170px;
    background-size: 100% 100%;
  }

}

#FreePackageFourteen{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 14315px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageFourteenEnterKeyframes 2s 6s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageFourteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageFive {
  background: url('../images/data.png') no-repeat left;
  left: 14185px;
  bottom: 150px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageFiveEnterKeyframes 2s 6.5s;
  animation-fill-mode: forwards;
}

@keyframes DataPackageFiveEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#RegWEEEOne {
background: url('../images/Reg-WEEE-screen.png') no-repeat left;
left: 14500px;
top: 100px;
position: absolute;
width: 421px;
height: 530px;
z-index: 1;
opacity: 0;
animation: RegWEEEOneEnterKeyframes 2s 9s;
animation-fill-mode: forwards;
}

@keyframes RegWEEEOneEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EndOf Screen 11 */

/* Screen 12 */

#RegWEEETwo {
background: url('../images/Reg-WEEE-screen-2.png') no-repeat left;
left: 15140px;
top: 100px;
position: absolute;
width: 423px;
height: 267px;
opacity: 0;
animation: RegWEEETwoEnterKeyframes 2s 0.5s;
animation-fill-mode: forwards;
}

@keyframes RegWEEETwoEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

#SubmissionScr {
background: url('../images/Submission-screen.png') no-repeat left;
left: 15800px;
top: 100px;
position: absolute;
width: 425px;
height: 562px;
opacity: 0;
animation: SubmissionScrEnterKeyframes 2s 1.5s;
animation-fill-mode: forwards;
}

@keyframes SubmissionScrEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EndOf Screen 12 */

/* Screen 13 */
#SuccessScr {
background: url('../images/success-screen.png') no-repeat left;
left: 16800px;
top: 100px;
position: absolute;
width: 426px;
height: 407px;
opacity: 0;
animation: SuccessScrEnterKeyframes 2s 0.5s;
animation-fill-mode: forwards;
}

@keyframes SuccessScrEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EndOf Screen 13 */

/* Screen 14 */

#eIDASNodeOKTwo{
  background: url('../images/ok-right.png') no-repeat left;
  left: 17225px;
  top: 180px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 100%;
  opacity: 0;
  animation: eIDASNodeOKTwoEnterKeyframes 2s 1s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeOKTwoEnterKeyframes {
  0% {

    opacity: 0;
  }
  100% {

    opacity: 1;
  }
}

#eIDASNodeOKTwoLeft{
  background: url('../images/ok-left.png') no-repeat left;
  left: 16671px;
  top: 180px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 0% 0%;
  opacity: 0;
  animation: eIDASNodeOKTwoLeftEnterKeyframes 1s 1s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeOKTwoLeftEnterKeyframes {
  0% {
    background-size: 0% 0%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}

/* EndOf Screen 14 */


#EloniasBusinessRegisterOne {
background: url('../images/Business-Register.png') no-repeat left;
left: 10400px;
top: 120px;
position: absolute;
width: 509px;
height: 356px;
}

#EloniasBusinessRegisterTwo {
background: url('../images/Business-Register.png') no-repeat left;
left: 11770px;
top: 120px;
position: absolute;
width: 509px;
height: 356px;
}



