/* Screen 1 Maps of Freedonia and Elonia entrance */
/* Freedonia's entrance */


#FreedMap {
  width: 339px;
  height: 283px;
  left: 400px;
  top: 100px;
  background-image: url('../images/Freedonia-map.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: FreedMapEnterKeyframes 2s;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes FreedMapEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#FreedoniaPin {
  width: 117px;
  height: 193px;
  left: 550px;
  top: 10px;
  background-image: url('../images/Freedonia-pin.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: FreedPinEnterKeyframes 2s;
  animation-fill-mode: forwards;
  z-index: 6;
}

@keyframes FreedPinEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#FreedMapTitle {
  top: 180px;
  left: 450px;
  opacity: 0;
  position: absolute;
  font-weight: bold;
  animation: FreedMapTitleOnce 1s 1s;
  -webkit-animation: FreedMapTitleOnce 1s 1s;
  animation-fill-mode: forwards;
  z-index: 6;
}

@keyframes FreedMapTitleOnce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FreedMapTitleOnce {
  0%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ENDOF Freedonia's entrance */

/* Elonia's entrance */
#EloniaMap {
  width: 408px;
  height: 318px;
  left: 850px;
  top: 20px;
  background-image: url('../images/Elonia-map.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: EloniaEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes EloniaEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#EloniaPin {
  width: 118px;
  height: 194px;
  left: 950px;
  top: 10px;
  background-image: url('../images/Elonia-pin.png');
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: EloniaPinEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPinEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#EloniaMapTitle {
  left: 1030px;
  top: 180px;
  position: absolute;;
  font-weight: bold;
  opacity: 0;
  animation: EloniaMapTitleOnce 2s 2s;
  -webkit-animation: EloniaMapTitleOnce 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes EloniaMapTitleOnce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes EloniaMapTitleOnce {
  0%{
opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* ENDOF Elonia's entrance */

#MapsLine{
  height:0px;
  width:1px;
  left: 600px;
  top: 200px;
  position: absolute;
  border-bottom: 2px dashed #ff0000;
  z-index: 10;

  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s;
  -o-animation:      increase 3s;
  animation:         increase 3s;
  animation-fill-mode: forwards;

}

@keyframes increase {
    100% {
        width: 380px;
    }
}

#DCUIOne{
  height:200px;
  width:290px;
  left: 340px;
  top: 460px;
  position: absolute;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  background-image: url('../images/dc-ui-1.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: DCUIOneOnce 3s 3.5s;
  -moz-animation:    DCUIOneOnce 3s 3.5s;
  -o-animation:      DCUIOneOnce 3s 3.5s;
  animation:         DCUIOneOnce 3s 3.5s;
  animation-fill-mode: forwards;
}

@keyframes DCUIOneOnce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#DCUITwo{
  height:200px;
  width:290px;
  left: 660px;
  top: 460px;
  position: absolute;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  background-image: url('../images/dc-ui-2.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: DCUITwoOnce 3s 4s;
  -moz-animation:    DCUITwoOnce 3s 4s;
  -o-animation:      DCUITwoOnce 3s 4s;
  animation:         DCUITwoOnce 3s 4s;
  animation-fill-mode: forwards;
}

@keyframes DCUITwoOnce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#DCUIThree{
  height:200px;
  width:290px;
  left: 980px;
  top: 460px;
  position: absolute;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  background-image: url('../images/dc-ui-3.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: DCUIThreeOnce 3s 4.5s;
  -moz-animation:    DCUIThreeOnce 3s 4.5s;
  -o-animation:      DCUIThreeOnce 3s 4.5s;
  animation:         DCUIThreeOnce 3s 4.5s;
  animation-fill-mode: forwards;
}

@keyframes DCUIThreeOnce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* EndOf Screen 1 Maps of Freedonia and Elonia entrance */


/* Screen 2 Authentication screens */

#testOne {
  left: 1480px;
  bottom: 71px;
  position: absolute;
  width: 621px;
  height: 517px;
  z-index: 1;
  background-size: 0% 0%;
  animation: testOneEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes testOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}


#AuthenticationMethOne {
  background: url('../images/monitor-1.png') no-repeat left;
  left: 1480px;
  bottom: 71px;
  position: absolute;
  width: 621px;
  height: 517px;
  z-index: 1;
  background-size: 0% 0%;
  animation: AuthOneEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes AuthOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}


#AuthenticationMethTwo {
  background: url('../images/eID-screen.png') no-repeat left;
  left: 2180px;
  top: 71px;
  position: absolute;
  width: 369px;
  height: 257px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  z-index: 2;
  opacity: 0;
  animation: AuthTwoEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes AuthTwoEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}

#AuthenticationMethThree {
  background: url('../images/login-screen.png') no-repeat left;
  left: 2350px;
  top: 271px;
  position: absolute;
  width: 369px;
  height: 257px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  z-index: 2;
  opacity: 0;
  animation: AuthThreeEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes AuthThreeEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}

/* EndOf Screen 2 Authentication screens */

/* Screen 3 Authentication screens */

#eIDASNode{
  background: url('../images/confirm-screen.png') no-repeat left;
  left: 2800px;
  top: 100px;
  position: absolute;
  width: 401px;
  height: 258px;
  z-index: 3;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  animation: eIDASNodeEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}


#eIDASNodeOK{
  background: url('../images/ok-right.png') no-repeat left;
  left: 2800px;
  top: 150px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 0% 0%;
  animation: eIDASNodeOKEnterKeyframes 2s 1s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeOKEnterKeyframes {
  0% {
    background-size: 0% 0%;
    left: 2800px;
  }
  100% {
    background-size: 100% 100%;
    left: 3200px;
  }
}

#MaxsAuthenticated {
  background: url('../images/monitor-2.png') no-repeat left;
  left: 3450px;
  bottom: 71px;
  position: absolute;
  width: 616px;
  height: 512px;
  z-index: 2;
  background-size: 0% 0%;
  animation: MaxsAuthenticatedEnterKeyframes 2s 4s;
  animation-fill-mode: forwards;
}

@keyframes MaxsAuthenticatedEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/* EndOf Screen 3 Authentication screens */

/* Screen 4 Authentication screens */

#GetCompanyInfo {
  background: url('../images/reg-magnifying-screen.png') no-repeat left;
  left: 4150px;
  top: 180px;
  position: absolute;
  width: 418px;
  height: 281px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  z-index: 2;
  animation: GetCompanyInfoEnterKeyframes 2s 1s;
  animation-fill-mode: forwards;
}

@keyframes GetCompanyInfoEnterKeyframes {
  0% {
opacity: 0;
  }
  100% {
opacity: 1;
  }
}

#GetCompanyInfoOk {
  background: url('../images/check-list.png') no-repeat left;
  left: 0px;
  top: 180px;
  position: absolute;
  width: 281px;
  height: 247px;
  z-index: 1;
  background-size: 0% 0%;
  animation: GetCompanyInfoOkEnterKeyframes 2s 1.5s;
  animation-fill-mode: forwards;
}

@keyframes GetCompanyInfoOkEnterKeyframes {
  0% {
    left: 4500px;
    background-size: 0% 0%;
  }
  100% {
    left: 4550px;
    background-size: 100% 100%;
  }
}

#Consent{
  background: url('../images/consent-screen.png') no-repeat left;
  left: 4960px;
  top: 110px;
  position: absolute;
  width: 422px;
  height: 377px;
  box-shadow: 0px 6px 5px 0px #C4C4C4;
  opacity: 0;
  z-index: 1;
  animation: ConsentEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes ConsentEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* EndOf Screen 4 Authentication screens */

/* Screen 5 Authentication screens */

#TruckFreeBMOne {
  background: url('../images/Freedonia-Truck-BM.png') no-repeat left;
  left: 0px;
  bottom: 71px;
  position: absolute;
  width: 282px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckFreeBMOneEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckFreeBMOneEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 5490px;
    background-size: 100% 100%;
  }

}

#FreePackageOne {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 0;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  opacity: 0;
  z-index: 1;
  animation-fill-mode: forwards;
}

.FreePackageMoveOne {
  animation: FreePackageOneEnterKeyframes 7.2s 2s;
}

@keyframes FreePackageOneEnterKeyframes {
  0% {
    opacity: 0;
    left: 5635px;
  }

  30% {
    opacity: .5;
    left: 5635px;
  }
  40% {
    left: 6085px;
    opacity: .5;
  }

  60% {
    opacity: 1;
    left: 6085px;
  }

  80% {
    opacity: .5;
    left: 6625px;
  }

  100% {
    opacity: 1;
    left: 6625px;
  }
}

.FreePackageMoveTwo {
  animation: FreePackageMoveTwoEnterKeyframes 8s 2s;
}

@keyframes FreePackageMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    left: 6625px;
    bottom: 150px;
  }
  25% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7345px;
    bottom: 150px;
  }
  50% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7345px;
    bottom: 150px;
  }
  75% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7345px;
    bottom: 150px;
  }
100% {
  opacity: 1;
  background-size: 65% 65%;
  left: 7820px;
  bottom: 180px;
  }
}

.FreePackageMoveThree {
  animation: FreePackageMoveThreeEnterKeyframes 2s 2s;
}
@keyframes FreePackageMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    left: 7200px;
    bottom: 150px;
    background-size: 100% 100%;
  }
  100% {
    opacity: 1;
    left: 8945px;
    bottom: 150px;
    background-size: 100% 100%;
  }
}

.FreePackageMoveFour {
  animation: FreePackageMoveFourEnterKeyframes 7s 1s;
}
@keyframes FreePackageMoveFourEnterKeyframes {
  0% {
    opacity: 1;
    left: 8945px;
    bottom: 150px;
    background-size: 100% 100%;
  }
  14% {
    opacity: 1;
    left: 9745px;
    bottom: 150px;
    background-size: 100% 100%;
  }
  30% {
    opacity: 1;
    left: 9745px;
    bottom: 150px;
    background-size: 100% 100%;
  }
  65% {
    opacity: .5;
    left: 10200px;
    bottom: 450px;
    background-size: 100% 100%;
  }
  100% {
    opacity: 1;
    left: 10345px;
    bottom: 150px;
    background-size: 100% 100%;
  }
}

#TruckTOOPBMOne {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 0px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 2;
  background-size: 100% 100%;
  animation-fill-mode: forwards;
}

.TruckTOOPBMMoveOne {
    animation: TruckTOOPBMOneEnterKeyframes 8s 2s;
}

@keyframes TruckTOOPBMOneEnterKeyframes {
  0% {
    left: 0px;
  }

  25% {
    left: 5940px;
  }

  50% {
    left: 5940px;
  }

75% {
  left: 6480px;
  }

100% {
    left: 6480px;
  }

}

.TruckTOOPBMMoveTwo {
    animation: TruckTOOPBMMoveTwoEnterKeyframes 2s 2s;
}

@keyframes TruckTOOPBMMoveTwoEnterKeyframes {
  0% {
    left: 6480px;
  }

  100% {
    left: 7200px;
  }
}

.TruckTOOPBMMoveThree {
    animation: TruckTOOPBMMoveThreeEnterKeyframes 2s 2s;
}

@keyframes TruckTOOPBMMoveThreeEnterKeyframes {
  0% {
    left: 7200px;
  }

  100% {
    left: 8800px;
  }
}

.TruckTOOPBMMoveFour {
    animation: TruckTOOPBMMoveFourEnterKeyframes 1s 1s;
}

@keyframes TruckTOOPBMMoveFourEnterKeyframes {
  0% {
    left: 8800px;
  }

  100% {
    left: 9600px;
  }
}

#TOOPPackageOne{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 6575px;
  bottom: 353px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.TOOPPackageMoveOne {
    animation: TOOPPackageOneEnterKeyframes 2s 8s;
}

@keyframes TOOPPackageOneEnterKeyframes {
  0% {
    opacity: 0;
    bottom: 353px;
  }

  100% {
      opacity: 1;
      bottom: 150px;
  }

}

.TOOPPackageMoveTwo {
    animation: TOOPPackageMoveTwoEnterKeyframes 8.2s 2s;
}

@keyframes TOOPPackageMoveTwoEnterKeyframes {
  0% {
    left: 6575px;
    opacity: 1;
    bottom: 150px;
  }
25% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7295px;
    bottom: 150px;
  }
  50% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7295px;
    bottom: 150px;
  }
  75% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7295px;
    bottom: 150px;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
    bottom: 150px;
    left: 7840px;
  }

}

.TOOPPackageMoveThree {
    animation: TOOPPackageMoveThreeEnterKeyframes 2s 2s;
}

@keyframes TOOPPackageMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 7200px;
    }
  100% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 8895px;
    }
  }

  .TOOPPackageMoveFour {
    animation: TOOPPackageMoveFourEnterKeyframes 7s 1s;
}

@keyframes TOOPPackageMoveFourEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 8895px;
    }
  14% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 9695px;
    }
  30% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 9695px;
  }
  70% {
    opacity: .5;
    left: 10200px;
    bottom: 450px;
    background-size: 100% 100%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 10295px;
    }
  }


#TOOPPackageTwo {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7245px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.TOOPPackageMoveTwoTwo {
  animation: TOOPPackageMoveTwoTwoEnterKeyframes 9.5s 2s;
}

@keyframes TOOPPackageMoveTwoTwoEnterKeyframes {
  0% {
    opacity: 0;
    background-size: 100% 100%;
    bottom: 353px;
    left: 7245px;
  }

  25% {
    opacity: 0;
    background-size: 100% 100%;
    left: 7245px;
    bottom: 353px;
  }
  50% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7245px;
    bottom: 150px;
  }
  75% {
    opacity: 1;
    background-size: 100% 100%;
    left: 7245px;
    bottom: 150px;
  }

  100% {
    opacity: 1;
    background-size: 65% 65%;
    bottom: 150px;
    left: 7810px;
  }

}

.TOOPPackageMoveThreeThree {
    animation: TOOPPackageMoveThreeThreeEnterKeyframes 2s 2s;
}

@keyframes TOOPPackageMoveThreeThreeEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 7200px;
    }
  100% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 8845px;
    }
  }

.TOOPPackageMoveFourFour {
    animation: TOOPPackageMoveFourFourEnterKeyframes 10s 1s;
}

@keyframes TOOPPackageMoveFourFourEnterKeyframes {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 8845px;
    width: 46px;
    height: 46px;
    }
  10% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 9645px;
    width: 46px;
    height: 46px;
    }
  30% {
    opacity: 1;
    background-size: 100% 100%;
    bottom: 150px;
    left: 9645px;
    width: 46px;
    height: 46px;
  }
  80% {
    opacity: .5;
    background-size: 100% 100%;
    bottom: 150px;
    left: 9645px;
    width: 46px;
    height: 46px;
  }
  100% {
    opacity: 0;
    background-size: 100% 100%;
    bottom: 450px;
    left: 9645px;
    width: 200px;
    height: 200px;
  }
  }

#SemanticMappingOne {
  background: url('../images/Semantic-mapping-FT.png') no-repeat left;
  left: 6300px;
  top: 110px;
  position: absolute;
  width: 394px;
  height: 389px;
  z-index: 1;
  background-size: 100% 100%;
  opacity: 0;
  animation: SemanticMappingOneEnterKeyframes 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes SemanticMappingOneEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/* EndOf Screen 5 Authentication screens */

/* Screen 6 Authentication screens */

#DataDiscoveryOne {
  background: url('../images/Data-Discovery.png') no-repeat left;
  left: 6850px;
  top: 120px;
  position: absolute;
  width: 655px;
  height: 391px;
  z-index: 1;
  opacity: 0;
  background-size: 0% 0%;
  animation: DataDiscoveryOneEnterKeyframes 1s;
  animation-fill-mode: forwards;
}

@keyframes DataDiscoveryOneEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-size: 90% 90%;
  }
}

#TruckTOOPBMThree {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 7000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMThreeEnterKeyframes 2s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMThreeEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 7200px;
    background-size: 100% 100%;
  }

}

#BaloonOne {
  background: url('../images/Baloon.png') no-repeat left;
  left: 7660px;
  top: 71px;
  position: absolute;
  width: 363px;
  height: 538px;
  z-index: 1;
  animation: BaloonOneEnterKeyframes ease-in-out 2s 6s alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes BaloonOneEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

/* EndOf Screen 6 Authentication screens */

/* Screen 7 Elonia Trip */



#SemanticMappingTwo {
  background: url('../images/Semantic-mapping-TE.png') no-repeat left;
  left: 8450px;
  top: 81px;
  position: absolute;
  width: 394px;
  height: 389px;
  z-index: 1;
  background-size: 100% 100%;
  opacity: 0;
  animation: SemanticMappingTwoEnterKeyframes 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes SemanticMappingTwoEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

#EloniaPackageOne {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 8760px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.EloniaPackageMoveOne {
    animation: EloniaPackageMoveOneEnterKeyframes 2s 3s ease-in-out alternate;
}
@keyframes EloniaPackageMoveOneEnterKeyframes {
  0% {
    opacity: 0;
    bottom: 403px;
    left: 8760px;
  }
  50% {
    opacity: 0;
    bottom: 403px;
    left: 8760px;
  }
  100% {
    opacity: 1;
    bottom: 200 px;
    left: 8920px;
  }
}

.EloniaPackageMoveTwo {
    animation: EloniaPackageMoveTwoEnterKeyframes 7s 1s;
  }
@keyframes EloniaPackageMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 200px;
    left: 8760px;
  }
  14% {
    opacity: 1;
    bottom: 200px;
    left: 9720px;
  }
  30% {
    opacity: 1;
    bottom: 200px;
    left: 9720px;
  }
  80% {
    opacity: .5;
    left: 10200px;
    bottom: 450px;
    background-size: 100% 100%;
  }
  100% {
    opacity: 1;
    left: 10325px;
    bottom: 200px;
    background-size: 100% 100%;
  }
}
/* EndOf Screen 7 Elonia Trip */


/* Screen 8 */



/* Elonias Truck */

#TruckEloniaBMOne {
  background: url('../images/Elonia-Truck-BM.png') no-repeat left;
  left: 9600px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 146px;
  z-index: 1;
  background-size: 0% 0%;
  animation-fill-mode: forwards;
}

.TruckEloniaBMMoveOne {
    animation: TruckEloniaBMMoveOneEnterKeyframes 2s 5s;
}

@keyframes TruckEloniaBMMoveOneEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 10200px;
    background-size: 100% 100%;
  }

}

/* Floor One */

#TruckEloniaBMF {
  background: url('../images/Elonia-Truck-BM-f.png') no-repeat left;
  left: 0;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 146px;
  z-index: 1;
  animation-fill-mode: forwards;
}

.TruckEloniaBMFMoveOne {
    animation: TruckEloniaBMFOneEnterKeyframes 1s;
}

@keyframes TruckEloniaBMFOneEnterKeyframes {
  0% {
    left: 10928px;
  }

  100% {
    left: 10200px;

  }
}

#TruckTOOPFloorOneOne {
  background: url('../images/TOOP-Truck-MP-f.png') no-repeat left;
  left: 0;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  animation-fill-mode: forwards;
}

.TruckTOOPFloorOneOneMoveOne {
    animation: TruckTOOPFloorOneOneMoveOneEnterKeyframes 1s 2s;
}

@keyframes TruckTOOPFloorOneOneMoveOneEnterKeyframes {
  0% {
    left: 10928px;
  }

  100% {
    left: 9650px;

  }
}

.TruckTOOPFloorOneOneMoveTwo {
    animation: TruckTOOPFloorOneOneMoveTwoEnterKeyframes 1s 1s;
}

@keyframes TruckTOOPFloorOneOneMoveTwoEnterKeyframes {
  0% {
    left: 10928px;
  }

  100% {
    left: 9000px;

  }
}

.TruckTOOPFloorOneOneMoveThree {
    animation: TruckTOOPFloorOneOneMoveThreeEnterKeyframes 1s 1s;
}

@keyframes TruckTOOPFloorOneOneMoveThreeEnterKeyframes {
  0% {
    left: 9650px;
  }

  100% {
    left: 7820px;

  }
}

#TruckFreedoniaBMF {
  background: url('../images/Freedonia-Truck-BM-f.png') no-repeat left;
  left: 0;
  bottom: 71px;
  position: absolute;
  width: 282px;
  height: 145px;
  z-index: 1;
  animation-fill-mode: forwards;
}

.TruckFreedoniaBMFMoveOne {
    animation: TruckFreedoniaBMFMoveOneEnterKeyframes 1s 3s;
}

@keyframes TruckFreedoniaBMFMoveOneEnterKeyframes {
  0% {
    left: 9650px;
  }

  100% {
    left: 7360px;

  }
}

#DataPackageOneFloorOne {
  background: url('../images/data.png') no-repeat left;
  left: 0;
  bottom: 150px;
  position: absolute;
  width: 54;
  height: 67px;
  opacity: 1;
  z-index: 5;
  animation-fill-mode: forwards;
}

.DataPackageOneFloorOneMoveOne {
    animation: DataPackageOneFloorOneMoveOneEnterKeyframes 7s;
  }

  @keyframes DataPackageOneFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 10928px;
  }
  14% {
    opacity: 1;
    bottom: 150px;
    left: 10425px;
  }
  20% {
    opacity: 1;
    bottom: 150px;
    left: 10425px;
  }
  78% {
    opacity: .5;
    bottom: 350px;
    left: 9830px;
  }
  100% {
    opacity: 1;
    bottom: 150px;
    left: 9880px;
  }
}

.DataPackageOneFloorOneMoveTwo {
    animation: DataPackageOneFloorOneMoveTwoEnterKeyframes 4s 1s;
  }

  @keyframes DataPackageOneFloorOneMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 9880px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 150px;
    left: 9220px;
    background-size: 100% 100%;
  }

  50% {
    opacity: 1;
    bottom: 150px;
    left: 9220px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 1;
    bottom: 210px;
    left: 8525px;
    background-size: 65% 65%;
  }
}

.DataPackageOneFloorOneMoveThree {
    animation: DataPackageOneFloorOneMoveThreeEnterKeyframes 4s 1s;
  }

  @keyframes DataPackageOneFloorOneMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 9650px;
    background-size: 100% 100%;
  }
25% {
    opacity: 1;
    bottom: 150px;
    left: 8030px;
    background-size: 100% 100%;
}

85% {
  opacity: 1;
  bottom: 150px;
  left: 8030px;
  background-size: 100% 100%;
}
  100% {
    opacity: 1;
    bottom: 150px;
    left: 7570px;
    background-size: 100% 100%;
  }
}

#TOOPPackageFloorOne{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 0;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  opacity: 1;
  z-index: 5;
  animation-fill-mode: forwards;
}
.TOOPPackageFloorOneMoveOne {
    animation: TOOPPackageFloorOneMoveOneEnterKeyframes 7s;
}

@keyframes TOOPPackageFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 10928px;
  }
  14% {
    opacity: 1;
    bottom: 150px;
    left: 10295px;
  }
  26% {
    opacity: 1;
    bottom: 150px;
    left: 10295px;
  }
  70% {
    opacity: .5;
    bottom: 350px;
    left: 9830px;
  }
  100% {
    opacity: 1;
    bottom: 150px;
    left: 9745px;
  }
}

.TOOPPackageFloorOneMoveTwo {
    animation: TOOPPackageFloorOneMoveTwoEnterKeyframes 4s 1s;
}

@keyframes TOOPPackageFloorOneMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 9745px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 150px;
    left: 9105px;
    background-size: 100% 100%;
  }

  50% {
    opacity: 1;
    bottom: 150px;
    left: 9105px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 1;
    bottom: 150px;
    left: 8510px;
    background-size: 65% 65%;
  }
}

.TOOPPackageFloorOneMoveThree {
    animation: TOOPPackageFloorOneMoveThreeEnterKeyframes 4s 1s;
}

@keyframes TOOPPackageFloorOneMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 9650px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 150px;
    left: 7920px;
    background-size: 100% 100%;
  }
  80% {
    opacity: 1;
    bottom: 150px;
    left: 7920px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 0;
    bottom: 300px;
    left: 7920px;
    background-size: 180% 180%;
  }
}

#TOOPPackageFloorOneTwo{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 0;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  opacity: 1;
  z-index: 5;
  animation-fill-mode: forwards;
}

.TOOPPackageFloorOneMoveTwoTwo {
    animation: TOOPPackageFloorOneMoveTwoTwoEnterKeyframes 1s 2s;
}

@keyframes TOOPPackageFloorOneMoveTwoTwoEnterKeyframes {
  0% {
    opacity: 0;
    bottom: 400px;
    left: 9105px;
  }
  100% {
    opacity: 1;
    bottom: 200px;
    left: 9105px;
  }
}

.TOOPPackageFloorOneMoveTwoTwo {
    animation: TOOPPackageFloorOneMoveTwoTwoEnterKeyframes 4s 1s;
}

@keyframes TOOPPackageFloorOneMoveTwoTwoEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 200px;
    left: 9780px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 200px;
    left: 9105px;
    background-size: 100% 100%;
  }
  50% {
    opacity: 1;
    bottom: 200px;
    left: 9105px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 1;
    bottom: 180px;
    left: 8510px;
    background-size: 65% 65%;
  }
}

.TOOPPackageFloorOneMoveTwoThree{
    animation: TOOPPackageFloorOneMoveTwoThreeEnterKeyframes 4s 1s;
}

@keyframes TOOPPackageFloorOneMoveTwoThreeEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 200px;
    left: 9650px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 200px;
    left: 7920;
    background-size: 100% 100%;
  }
  80%{
    opacity: 1;
    bottom: 200px;
    left: 7920;
    background-size: 100% 100%;
  }
  100% {
    opacity: 0;
    bottom: 300px;
    left: 7920;
    background-size: 180% 180%;
  }
}

#FreePackageOneFloorOne {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 0;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  opacity: 1px;
  z-index: 5;
  animation-fill-mode: forwards;
}
.FreePackageOneFloorOneMoveOne {
  animation: FreePackageOneFloorOneMoveOneEnterKeyframes 7s;
}
@keyframes FreePackageOneFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 10928px;
  }
  14% {
    opacity: 1;
    bottom: 150px;
    left: 10350px;
  }
  24% {
    opacity: 1;
    bottom: 150px;
    left: 10350px;
  }
  80% {
    opacity: .5;
    bottom: 350px;
    left: 9830px;
  }
  100% {
    opacity: 1;
    bottom: 150px;
    left: 9800px;
  }
}

.FreePackageOneFloorOneMoveTwo {
  animation: FreePackageOneFloorOneMoveTwoEnterKeyframes 4s 1s;
}
@keyframes FreePackageOneFloorOneMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 9800px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 150px;
    left: 9155px;
    background-size: 100% 100%;
  }

  50% {
    opacity: 1;
    bottom: 150px;
    left: 9155px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 1;
    bottom: 150px;
    left: 8540px;
    background-size: 65% 65%;
  }
}

.FreePackageOneFloorOneMoveThree {
  animation: FreePackageOneFloorOneMoveThreeEnterKeyframes 4s 1s;
}
@keyframes FreePackageOneFloorOneMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 150px;
    left: 9650px;
    background-size: 100% 100%;
  }
  25% {
    opacity: 1;
    bottom: 150px;
    left: 7970px;
    background-size: 100% 100%;
  }

  85%
  {
    opacity: 1;
    bottom: 150px;
    left: 7970px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 1;
    bottom: 150px;
    left: 7490px;
    background-size: 100% 100%;
  }
}

#EloniaPackageOneFloorOne {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 0;
  bottom: 200px;
  position: absolute;
  width: 46px;
  height: 46px;
  opacity: 1;
  z-index: 5;
  animation-fill-mode: forwards;
}

.EloniaPackageFloorOneMoveOne {
    animation: EloniaPackageFloorOneMoveOneEnterKeyframes 7s;
  }

  @keyframes EloniaPackageFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 200px;
    left: 10928px;
  }
  14% {
    opacity: 1;
    bottom: 200px;
    left: 10325px;
  }
  22% {
    opacity: 1;
    bottom: 200px;
    left: 10325px;
  }
  76% {
    opacity: .5;
    bottom: 350px;
    left: 9830px;
  }
  100% {
    opacity: 1;
    bottom: 200px;
    left: 9780px;
  }
}

.EloniaPackageFloorOneMoveTwo {
    animation: EloniaPackageFloorOneMoveTwoEnterKeyframes 4s 1s;
  }

  @keyframes EloniaPackageFloorOneMoveTwoEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 200px;
    left: 9780px;
    background-size: 100% 100%;
  }

  25% {
    opacity: 1;
    bottom: 200px;
    left: 9155px;
    background-size: 100% 100%;
  }

  50% {
    opacity: 1;
    bottom: 200px;
    left: 9155px;
    background-size: 100% 100%;
  }

  100% {
    opacity: 1;
    bottom: 180px;
    left: 8540px;
    background-size: 65% 65%;
  }
}

.EloniaPackageFloorOneMoveThree {
    animation: EloniaPackageFloorOneMoveThreeEnterKeyframes 4s 1s;
  }

  @keyframes EloniaPackageFloorOneMoveThreeEnterKeyframes {
  0% {
    opacity: 1;
    bottom: 200px;
    left: 9650px;
    background-size: 100% 100%;
  }

  25% {
    opacity: 1;
    bottom: 200px;
    left: 7970px;
    background-size: 100% 100%;
  }
  80% {
    opacity: 1;
    bottom: 200px;
    left: 7970px;
    background-size: 100% 100%;
  }
  100% {
    opacity: 0;
    bottom: 300px;
    left: 7970px;
    background-size: 180% 180%;
  }
}

#DataDiscoveryFloorOne {
  background: url('../images/Data-Discovery.png') no-repeat left;
  left: 8950px;
  top: 120px;
  position: absolute;
  width: 655px;
  height: 391px;
  z-index: 1;
  opacity: 0;
  background-size: 0% 0%;
  animation-fill-mode: forwards;
}

.DataDiscoveryFloorOneMoveOne {
  animation: DataDiscoveryFloorOneEnterKeyframes 1s;
}

@keyframes DataDiscoveryFloorOneEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-size: 90% 90%;
  }
}

#BaloonTwoFloorOne {
  background: url('../images/Baloon.png') no-repeat left;
  left: 8360px;
  top: 71px;
  position: absolute;
  width: 363px;
  height: 538px;
  z-index: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  opacity: 0;
}

.BaloonTwoMoveOne {
    animation: BaloonTwoMoveOneEnterKeyframes ease-in-out 1s 3s infinite alternate, BaloonTwoMoveOneOpacity 1s 3s;
}
@keyframes BaloonTwoMoveOneOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes BaloonTwoMoveOneEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#RegWEEEOne {
background: url('../images/Reg-WEEE-screen.png') no-repeat left;
left: 6910px;
top: 100px;
position: absolute;
width: 421px;
height: 530px;
z-index: 1;
opacity: 0;
animation-fill-mode: forwards;
}

.RegWEEEOneMoveOne {
  animation: RegWEEEOneMoveOneEnterKeyframes 2s 6s;
}
@keyframes RegWEEEOneMoveOneEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
box-shadow: 0px 6px 5px 0px #C4C4C4;
  }
}

#eIDASNodeOKFloorOne {
  background: url('../images/ok-right.png') no-repeat left;
  left: 7330px;
  top: 260px;
  position: absolute;
  width: 130px;
  height: 171px;
  opacity: 0;
  z-index: 2;
  animation-fill-mode: forwards;
}
.eIDASNodeOKFloorOneMoveOne {
    animation: eIDASNodeOKFloorOneMoveOneEnterKeyframes 2s 6s;
}

@keyframes eIDASNodeOKFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#RegWEEETwo {
  background: url('../images/Reg-WEEE-screen-2.png') no-repeat left;
  left: 6220px;
  top: 120px;
  position: absolute;
  width: 423px;
  height: 267px;
  opacity: 0;
  z-index: 2;
  animation-fill-mode: forwards;
}
.RegWEEETwoFloorOneMoveOne {
    animation: RegWEEETwoFloorOneMoveOneEnterKeyframes 2s 1s;
}

@keyframes RegWEEETwoFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 6px 5px 0px #C4C4C4;
  }
}

#SubmissionFloorOne {
  background: url('../images/Submission-screen.png') no-repeat left;
  left: 5630px;
  top: 80px;
  position: absolute;
  width: 425px;
  height: 562px;
  opacity: 0;
  z-index: 2;
  animation-fill-mode: forwards;
}
.SubmissionFloorOneMoveOne {
    animation: SubmissionFloorOneMoveOneEnterKeyframes 2s 2s;
}

@keyframes SubmissionFloorOneMoveOneEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 6px 5px 0px #C4C4C4;
  }
}

#SuccessScr {
background: url('../images/success-screen.png') no-repeat left;
left: 4550px;
top: 100px;
position: absolute;
width: 426px;
height: 407px;
opacity: 0;
animation-fill-mode: forwards;
}

.SuccessScrMoveOne {
  animation: SuccessScrMoveOneEnterKeyframes 2s 1s;
}

@keyframes SuccessScrMoveOneEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 6px 5px 0px #C4C4C4;
  }
}

#SuccessScrOkLeft{
  background: url('../images/ok-left.png') no-repeat left;
  left: 4420px;
  top: 180px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 0% 0%;
  opacity: 0;
  animation-fill-mode: forwards;
}

.SuccessScrOkLeftMoveOne {
    animation: SuccessScrOkLeftMoveOneEnterKeyframes 1.5s 1.5s;
}

@keyframes SuccessScrOkLeftMoveOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}

#SuccessScrOkRight{
  background: url('../images/ok-right.png') no-repeat left;
  left: 4975px;
  top: 180px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 0% 0%;
  opacity: 0;
  animation-fill-mode: forwards;
}

.SuccessScrOkRightMoveOne {
    animation: SuccessScrOkRightMoveOneEnterKeyframes 1.5s 1.5s;
}

@keyframes SuccessScrOkRightMoveOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}

#Applause{
  background: url('../images/applause.png') no-repeat left;
  left: 4340px;
  bottom: 70px;
  position: absolute;
  width: 858px;
  height: 285px;
  z-index: 2;
  background-size: 0% 0%;
  opacity: 0;
  animation-fill-mode: forwards;
}

.ApplauseMoveOne {
    animation: ApplauseMoveOneEnterKeyframes 1.5s 1.5s;
}

@keyframes ApplauseMoveOneEnterKeyframes {
  0% {
    background-size: 0% 0%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}
/* ENDOF Floor One */

#DataPackageOne {
  background: url('../images/data.png') no-repeat left;
  left: 11030px;
  bottom: 150px;
  position: absolute;
  width: 54;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.DataPackageOneMoveOne {
    animation: DataPackageOneMoveOneEnterKeyframes 2s 8s;
}

@keyframes DataPackageOneMoveOneEnterKeyframes {
  0% {
    opacity: 0;
    bottom: 353px;
    left: 10595px;
  }

  100% {
      opacity: 1;
      bottom: 150px;
      left: 10230px;
  }

}

/* EndOf Elonias Truck */

/*EnOf Screen 8 */

/* Screen 9 */
/* Elonias Truck */

#TruckEloniaBMTwo {
  background: url('../images/Elonia-Truck-BM.png') no-repeat left;
  left: 9600px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 146px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckEloniaBMTwoEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckEloniaBMTwoEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 11000px;
    background-size: 100% 100%;
  }

}

#EloniasBusinessRegisterOne {
background: url('../images/Business-Register.png') no-repeat left;
left: 10400px;
top: 120px;
position: absolute;
width: 509px;
height: 356px;
}
