/*
#FreePackageTwo{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 6085px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 2;
  opacity: 0;
  animation: FreePackageTwoEnterKeyframes 2s 3.5s;
  animation-fill-mode: forwards;
}
@keyframes FreePackageTwoEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

/*#FreePackageThree {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 6625px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageThreeEnterKeyframes 2s 9s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageThreeEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
*/


#FreePackageFour{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 7345px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageFourEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageFourEnterKeyframes {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

#TruckTOOPBMTwo {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 7300px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMTwoEnterKeyframes 2s 7s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMTwoEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 6480px;
    background-size: 100% 100%;
  }

}

#TOOPPackageTwo {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7295px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageTwoEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageTwoEnterKeyframes {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

#FreePackageFive{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 7820px;
  bottom: 180px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  background-size: 65% 65%;
  animation: FreePackageFiveEnterKeyframes ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes FreePackageFiveEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

#TOOPPackageFour {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7840px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  background-size: 65% 65%;
  animation: TOOPPackageFourEnterKeyframes ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes TOOPPackageFourEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

#TOOPPackageFive{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7810px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  background-size: 65% 65%;
  animation: TOOPPackageFiveEnterKeyframes  ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes TOOPPackageFiveEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

#TruckTOOPBMFour {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 8000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMFourEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMFourEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 8300px;
    background-size: 100% 100%;
  }
}

#FreePackageSix {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 8445px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageSixEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageSixEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }

}

#TOOPPackageSix{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8395px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageSixEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageSixEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#TOOPPackageSeven {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8345px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageSevenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageSevenEnterKeyframes {
  0% {
     opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TruckTOOPBMFive {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 8000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMFiveEnterKeyframes 2s 5s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMFiveEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 8800px;
    background-size: 100% 100%;
  }
}

#FreePackageSeven {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 8945px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageSevenEnterKeyframes 2s 8s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageSevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageEight{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8895px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageEightEnterKeyframes 2s 8.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageEightEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageNine {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8845px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageNineEnterKeyframes 2s 9s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageNineEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TruckTOOPBMSix {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 8800px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMSixEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMSixEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 9600px;
    background-size: 100% 100%;
  }

}


#FreePackageEight {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 9745px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageEightEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageEightEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageTen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 9695px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageTenEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageTenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageEleven {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 9645px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageElevenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageElevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageTwo {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 9720px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageTwoEnterKeyframes 2s 3.5s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageTwoEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

#FreePackageNine {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 10345px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageNineEnterKeyframes 2s 7s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageNineEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageTwelve {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 10295px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageTwelveEnterKeyframes 2s 7.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageTwelveEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPinackageThree {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 10325px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageThreeEnterKeyframes 2s 8s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageThreeEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

#DataPackageOne {
  background: url('../images/data.png') no-repeat left;
  left: 11030px;
  bottom: 153px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageOneEnterKeyframes 2s 3.5s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes DataPackageOneEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

#FreePackageTen {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 11145px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageTenEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageTenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageFour {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 11120px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageFourEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageFourEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageThirteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 11095px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageThirteenEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageThirteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TruckTOOPBMSeven {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 11000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMSevenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMSevenEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 11560px;
    background-size: 100% 100%;
  }
}

#TOOPPackageFourteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 11650px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageFourteenEnterKeyframes 2s 6.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageFourteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageTwo {
  background: url('../images/data.png') no-repeat left;
  left: 11585px;
  bottom: 153px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageTwoEnterKeyframes 2s 7.5s ease-in-out alternate;
  animation-iteration-count: 1;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
}

@keyframes DataPackageTwoEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

#EloniaPackageFive {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 11675px;
  bottom: 203px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageFiveEnterKeyframes 2s 7s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageFiveEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#FreePackageEleven {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 11700px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageElevenEnterKeyframes 2s 6s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageElevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataDiscoveryTwo {
  background: url('../images/Data-Discovery.png') no-repeat left;
  left: 12320px;
  top: 100px;
  position: absolute;
  width: 655px;
  height: 391px;
  z-index: 1;
  opacity: 0;
  background-size: 0% 0%;
  animation: DataDiscoveryTwoEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes DataDiscoveryTwoEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-size: 90% 90%;
  }

}

#BaloonTwo {
  background: url('../images/Baloon.png') no-repeat left;
  left: 13150px;
  top: 71px;
  position: absolute;
  width: 363px;
  height: 538px;
  z-index: 1;
  animation: BaloonTwoEnterKeyframes ease-in-out 1s 3s infinite alternate, BaloonTwoOpacity 1s 3s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  opacity: 0;
}

@keyframes BaloonTwoOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes BaloonTwoEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#FreePackageTwelve{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 13300px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: FreePackageTwelveEnterKeyframes ease-in-out 1s 5s infinite alternate, FreePackageTwelveOpacity 1s 5s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes FreePackageTwelveOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }

  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes FreePackageTwelveEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#TOOPPackageFifteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13335px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: TOOPPackageFifteenEnterKeyframes ease-in-out 1s 5.5s infinite alternate, TOOPPackageFifteenOpacity 1s 5.5s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes TOOPPackageFifteenOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes TOOPPackageFifteenEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#TOOPPackageSixteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13335px;
  bottom: 180px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: TOOPPackageSixteenEnterKeyframes ease-in-out 1s 6s infinite alternate, TOOPPackageSixteenOpacity 1s 6s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes TOOPPackageSixteenOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes TOOPPackageSixteenEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#EloniaPackageSix {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 13300px;
  bottom: 180px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  animation: EloniaPackageSixEnterKeyframes ease-in-out 1s 6.5s infinite alternate, EloniaPackageSixOpacity 1s 6.5s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes EloniaPackageSixOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes EloniaPackageSixEnterKeyframes {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#DataPackageThree {
  background: url('../images/data.png') no-repeat left;
  left: 13315px;
  bottom: 208px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  animation: DataPackageThreeEnterKeyframes ease-in-out 1s 7s infinite alternate, DataPackageThreeOpacity 1s 7s;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5, 1;
  background-size: 0;
  opacity: 0;
}

@keyframes DataPackageThreeOpacity {
  0% {
    opacity: 0;
    background-size: 0;
  }
  100% {
    opacity: 1;
    background-size: 65% 65%;
  }
}

@keyframes DataPackageThreeEnterKeyframes {
  0% {
    opacity: 0;
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg);
  }
}

/* Screen 11 */
#TruckTOOPBMEight {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 13000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMEightEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMEightEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 13700px;
    background-size: 100% 100%;
  }

}

#FreePackageThirteen{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 13845px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageThirteenEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageThirteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageSeventeen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13795px;
  bottom: 200px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageSeventeenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageSeventeenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageEighteen {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 13795px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageEighteenEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageEighteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#EloniaPackageSeven {
  background: url('../images/Elonia-package.png') no-repeat left;
  left: 13845px;
  bottom: 200px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: EloniaPackageSevenEnterKeyframes 2s 3.5s;
  animation-fill-mode: forwards;
}

@keyframes EloniaPackageSevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageFour {
  background: url('../images/data.png') no-repeat left;
  left: 13715px;
  bottom: 150px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageFourEnterKeyframes 2s 4s;
  animation-fill-mode: forwards;
}

@keyframes DataPackageFourEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


#TruckFreeBMTwo {
  background: url('../images/Freedonia-Truck-BM.png') no-repeat left;
  left: 13500px;
  bottom: 71px;
  position: absolute;
  width: 282px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckFreeBMTwoEnterKeyframes 2s 4s;
  animation-fill-mode: forwards;
}

@keyframes TruckFreeBMTwoEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 14170px;
    background-size: 100% 100%;
  }

}

#FreePackageFourteen{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 14315px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageFourteenEnterKeyframes 2s 6s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageFourteenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#DataPackageFive {
  background: url('../images/data.png') no-repeat left;
  left: 14185px;
  bottom: 150px;
  position: absolute;
  width: 54px;
  height: 67px;
  z-index: 1;
  opacity: 0;
  animation: DataPackageFiveEnterKeyframes 2s 6.5s;
  animation-fill-mode: forwards;
}

@keyframes DataPackageFiveEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#RegWEEEOne {
background: url('../images/Reg-WEEE-screen.png') no-repeat left;
left: 14500px;
top: 100px;
position: absolute;
width: 421px;
height: 530px;
z-index: 1;
opacity: 0;
animation: RegWEEEOneEnterKeyframes 2s 9s;
animation-fill-mode: forwards;
}

@keyframes RegWEEEOneEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EndOf Screen 11 */

/* Screen 12 */

#RegWEEETwo {
background: url('../images/Reg-WEEE-screen-2.png') no-repeat left;
left: 15140px;
top: 100px;
position: absolute;
width: 423px;
height: 267px;
opacity: 0;
animation: RegWEEETwoEnterKeyframes 2s 0.5s;
animation-fill-mode: forwards;
}

@keyframes RegWEEETwoEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

#SubmissionScr {
background: url('../images/Submission-screen.png') no-repeat left;
left: 15800px;
top: 100px;
position: absolute;
width: 425px;
height: 562px;
opacity: 0;
animation: SubmissionScrEnterKeyframes 2s 1.5s;
animation-fill-mode: forwards;
}

@keyframes SubmissionScrEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EndOf Screen 12 */

/* Screen 13 */
#SuccessScr {
background: url('../images/success-screen.png') no-repeat left;
left: 16800px;
top: 100px;
position: absolute;
width: 426px;
height: 407px;
opacity: 0;
animation: SuccessScrEnterKeyframes 2s 0.5s;
animation-fill-mode: forwards;
}

@keyframes SuccessScrEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EndOf Screen 13 */

/* Screen 14 */

#eIDASNodeOKTwo{
  background: url('../images/ok-right.png') no-repeat left;
  left: 17225px;
  top: 180px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 100%;
  opacity: 0;
  animation: eIDASNodeOKTwoEnterKeyframes 2s 1s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeOKTwoEnterKeyframes {
  0% {

    opacity: 0;
  }
  100% {

    opacity: 1;
  }
}

#eIDASNodeOKTwoLeft{
  background: url('../images/ok-left.png') no-repeat left;
  left: 16671px;
  top: 180px;
  position: absolute;
  width: 130px;
  height: 171px;
  z-index: 2;
  background-size: 0% 0%;
  opacity: 0;
  animation: eIDASNodeOKTwoLeftEnterKeyframes 1s 1s;
  animation-fill-mode: forwards;
}

@keyframes eIDASNodeOKTwoLeftEnterKeyframes {
  0% {
    background-size: 0% 0%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}

/* EndOf Screen 14 */