/*
#FreePackageTwo{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 6085px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 2;
  opacity: 0;
  animation: FreePackageTwoEnterKeyframes 2s 3.5s;
  animation-fill-mode: forwards;
}
@keyframes FreePackageTwoEnterKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

/*#FreePackageThree {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 6625px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageThreeEnterKeyframes 2s 9s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageThreeEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
*/


#FreePackageFour{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 7345px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageFourEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageFourEnterKeyframes {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

#TruckTOOPBMTwo {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 7300px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMTwoEnterKeyframes 2s 7s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMTwoEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 6480px;
    background-size: 100% 100%;
  }

}

#TOOPPackageTwo {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7295px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageTwoEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageTwoEnterKeyframes {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

#FreePackageFive{
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 7820px;
  bottom: 180px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  background-size: 65% 65%;
  animation: FreePackageFiveEnterKeyframes ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes FreePackageFiveEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

#TOOPPackageFour {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7840px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  background-size: 65% 65%;
  animation: TOOPPackageFourEnterKeyframes ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes TOOPPackageFourEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

#TOOPPackageFive{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 7810px;
  bottom: 150px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  background-size: 65% 65%;
  animation: TOOPPackageFiveEnterKeyframes  ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}

@keyframes TOOPPackageFiveEnterKeyframes {
   0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

#TruckTOOPBMFour {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 8000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMFourEnterKeyframes 2s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMFourEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 8300px;
    background-size: 100% 100%;
  }
}

#FreePackageSix {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 8445px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageSixEnterKeyframes 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageSixEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }

}

#TOOPPackageSix{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8395px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageSixEnterKeyframes 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageSixEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#TOOPPackageSeven {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8345px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageSevenEnterKeyframes 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageSevenEnterKeyframes {
  0% {
     opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TruckTOOPBMFive {
  background: url('../images/TOOP-Truck-MP.png') no-repeat left;
  left: 8000px;
  bottom: 71px;
  position: absolute;
  width: 281px;
  height: 145px;
  z-index: 1;
  background-size: 0% 0%;
  animation: TruckTOOPBMFiveEnterKeyframes 2s 5s;
  animation-fill-mode: forwards;
}

@keyframes TruckTOOPBMFiveEnterKeyframes {
  0% {
    left: 0px;
    background-size: 0% 0%;
  }

  100% {
    left: 8800px;
    background-size: 100% 100%;
  }
}

#FreePackageSeven {
  background: url('../images/Freedonia-package.png') no-repeat left;
  left: 8945px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: FreePackageSevenEnterKeyframes 2s 8s;
  animation-fill-mode: forwards;
}

@keyframes FreePackageSevenEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageEight{
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8895px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageEightEnterKeyframes 2s 8.5s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageEightEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#TOOPPackageNine {
  background: url('../images/TOOP-package.png') no-repeat left;
  left: 8845px;
  bottom: 153px;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 1;
  opacity: 0;
  animation: TOOPPackageNineEnterKeyframes 2s 9s;
  animation-fill-mode: forwards;
}

@keyframes TOOPPackageNineEnterKeyframes {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}