 /* @import "toopLogo.css";*/
@import "template.css";
/*@import "clouds.css";*/
@import "clouds2.css";
@import "animations.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #222;
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: #000000;
}
p {
  font-size: .7em;
}

#panoramaContent {
  /* bg pattern*/
  background: repeating-linear-gradient(
    to right,
    #e3e3e2,
    #e3e3e2 1px,
    #ececea 3px,
    #ececea 6px
  );
    /* end of bg pattern*/

  background-size: 100% 100%;
  width: 17758px;

 /* width: 10930px;*/
  height: 750px;
  padding-right: 750px;

  /* Vertically center the panorama */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#panoramaContent2 {
  /* bg pattern*/
  background: repeating-linear-gradient(
    to right,
    #e3e3e2,
    #e3e3e2 1px,
    #ececea 3px,
    #ececea 6px
  );
    /* end of bg pattern*/

  background-size: 100% 100%;
  width: 17758px;

 /* width: 10930px;*/
  height: 750px;
  margin-bottom: 500px;

  /* Vertically center the panorama */
  position: absolute;
  top: 100%;
  /*transform: translateY(-50%);*/
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}


#MaxsHome {
  background: url('../images/circuit.png') no-repeat #909e9f center;
  left: 0;
  position: absolute;
  width: 300px;
  height: 100%;
}

#MaxsFoto {
  /*background: url('../images/max.png') no-repeat;*/
  width: 100%;
  height: 40%;
  padding: 4% 0 0 0;
}

#MaxsFoto img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#MaxsIntro {
  background-color: rgba(200, 210, 210, 0.8);
  border-top: 25px solid #727d7e;
  height: 53%;
  padding: 3% 10% 3% 10%;
  font-weight: bold;
}

#ScreenOneDots {
  background: url('../images/dot.png') repeat-x left;
  left: 300px;
  bottom: 0;
  position: absolute;
  width: 960px;
  height: 32px;
  padding-bottom: 45px;
}

#ScreenOneArrow {
  background: url('../images/arrow-r.png') no-repeat left;
  left: 1270px;
  bottom: 0;
  position: absolute;
  width: 93px;
  height: 79px;
}

#CraneOne {
  background: url('../images/crane.png') no-repeat left;
  left: 5730px;
  bottom: 71px;
  position: absolute;
  width: 436px;
  height: 549px;
}

#CraneTwo {
  background: url('../images/crane.png') no-repeat left;
  left: 9900px;
  bottom: 71px;
  position: absolute;
  width: 436px;
  height: 549px;
}

/* Sceneries */
#SceneryOne {
  background: url('../images/scenery-1.png') no-repeat left;
  left: 300px;
  bottom: 70px;
  position: absolute;
  width: 1256px;
  height: 381px;
}

#SceneryTwo {
  background: url('../images/scenery-2.png') no-repeat left;
  left: 2100px;
  bottom: 70px;
  position: absolute;
  width: 566px;
  height: 308px;
}

#SceneryThree {
  background: url('../images/scenery-3.png') no-repeat left;
  left: 2840px;
  bottom: 70px;
  position: absolute;
  width: 417px;
  height: 325px;
}

#SceneryFour {
  background: url('../images/scenery-4.png') no-repeat left;
  left: 3900px;
  bottom: 70px;
  position: absolute;
  width: 1608px;
  height: 426px;
}

#SceneryFive {
  background: url('../images/scenery-5.png') no-repeat left;
  left: 6200px;
  bottom: 70px;
  position: absolute;
  width: 435px;
  height: 185px;
}

#ScenerySix {
  background: url('../images/scenery-6.png') no-repeat left;
  left: 9200px;
  bottom: 70px;
  position: absolute;
  width: 330px;
  height: 424px;
}
/*

#ScenerySeven {
  background: url('../images/scenery-7.png') no-repeat left;
  left: 15100px;
  bottom: 70px;
  position: absolute;
  width: 987px;
  height: 494px;
}
*/

/* ENDOF Sceneries */

/* Pins */
#ScreenTwoFreedoniaPin {
  background: url('../images/Freedonia-flag-pin.png') no-repeat left;
  left: 1370px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#ScreenTwoEloniaPin {
  background: url('../images/Elonia-flag-pin.png') no-repeat left;
  left: 2340px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#ScreenFourFreedoniaPin {
  background: url('../images/Freedonia-flag-pin.png') no-repeat left;
  left: 3360px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#ScreenSevenEloniaPin {
  background: url('../images/Elonia-flag-pin.png') no-repeat left;
  left: 8200px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

/*
#ScreenNineEloniaPin {
  background: url('../images/Elonia-flag-pin-r.png') no-repeat left;
  left: 12210px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}
*/

#ScreenSixFreedoniaPinBorder {
  background: url('../images/Freedonia-border-r.png') no-repeat left;
  left: 7500px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 317px;
}

#ScreenSixEloniaPinBorder {
  background: url('../images/Elonia-border-l.png') no-repeat left;
  left: 8030px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 317px;
}

/*
#ScreenTenFreedoniaPinBorder {
  background: url('../images/Freedonia-border-r.png') no-repeat left;
  left: 13000px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 317px;
}


#ScreenTenEloniaPinBorder {
  background: url('../images/Elonia-border-l.png') no-repeat left;
  left: 13500px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 317px;
}
*/
/*ENDOF Pins*/

/* Roads*/
#ScreenTwoFreedoniaRoad {
  background: url('../images/road-freedonia.png') repeat-x left;
  left: 1366px;
  bottom: 0;
  position: absolute;
  width: 970px;
  height: 70px;
}

#ScreenTwoThreeEloniaRoad {
  background: url('../images/road-elonia.png') repeat-x left;
  left: 2334px;
  bottom: 0;
  position: absolute;
  width: 1040px;
  height: 70px;
}

#ScreenThreeSixFreedoniaRoad {
  background: url('../images/road-freedonia.png') repeat-x left;
  left: 3360px;
  bottom: 0;
  position: absolute;
  width: 4140px;
  height: 70px;
}

/*
#ScreenElevenFreedoniaRoad {
  background: url('../images/road-freedonia.png') repeat-x left;
  left: 13650px;
  bottom: 0;
  position: absolute;
  width: 4100px;
  height: 70px;
}
#ScreenTenEloniaRoad {
  background: url('../images/road-elonia.png') repeat-x left;
  left: 12300px;
  bottom: 0;
  position: absolute;
  width: 700px;
  height: 70px;
}
*/

#ScreenSevenThreeEloniaRoad {
  background: url('../images/road-elonia.png') repeat-x left;
  left: 8198px;
  bottom: 0;
  position: absolute;
  width: 2730px;
  height: 70px;
}


/* ENDOF Roads*/

/* Downstairs */

#CraneThree {
  background: url('../images/crane-f.png') no-repeat left;
  left: 9740px;
  bottom: 71;
  position: absolute;
  width: 436px;
  height: 549px;
  z-index: 10;
}

#CraneFour {
  background: url('../images/crane-f.png') no-repeat left;
  left: 7580px;
  bottom: 71px;
  position: absolute;
  width: 436px;
  height: 549px;
}

#FloorTwoEloniaRoadOne {
  background: url('../images/road-elonia.png') repeat-x left;
  left: 8990px;
  bottom: 0;
  position: absolute;
  width: 1940px;
  height: 70px;
}

/*#FloorTwoScenerySix {
  background: url('../images/scenery-6.png') no-repeat left;
  left: 9200px;
  bottom: 70px;
  position: absolute;
  width: 330px;
  height: 424px;
}*/

#FloorTwoEloniaPin {
  background: url('../images/Elonia-flag-pin.png') no-repeat left;
  left: 9000px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#FloorTwoEloniaPinBorder {
  background: url('../images/Elonia-border-l.png') no-repeat left;
  left: 8835px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 317px;
}

#FloorTwoFreedoniaPinBorder {
  background: url('../images/Freedonia-border-r.png') no-repeat left;
  left: 8210px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 317px;
}

#FloorTwoFreedoniaRoad {
  background: url('../images/road-freedonia.png') repeat-x left;
  left: 4100px;
  bottom: 0;
  position: absolute;
  width: 4110px;
  height: 70px;
}

#FloorTwoSceneryFive {
  background: url('../images/scenery-5.png') no-repeat left;
  left: 6200px;
  bottom: 70px;
  position: absolute;
  width: 435px;
  height: 185px;
}

#FloorTwoSceneryFour {
  background: url('../images/scenery-4.png') no-repeat left;
  left: 3900px;
  bottom: 70px;
  position: absolute;
  width: 1608px;
  height: 426px;
}

#FloorTwoFreedoniaPin {
  background: url('../images/Freedonia-flag-pin.png') no-repeat left;
  left: 6840px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

/*
#FloorTwoThreeEloniaRoad {
  background: url('../images/road-elonia.png') repeat-x left;
  left: 2334px;
  bottom: 0;
  position: absolute;
  width: 1040px;
  height: 70px;
}

#FloorTwoSceneryThree {
  background: url('../images/scenery-3.png') no-repeat left;
  left: 2840px;
  bottom: 70px;
  position: absolute;
  width: 417px;
  height: 325px;
}

#FloorTwoSceneryTwo {
  background: url('../images/scenery-2.png') no-repeat left;
  left: 2100px;
  bottom: 70px;
  position: absolute;
  width: 566px;
  height: 308px;
}

#FloorTwoEloniaPinTwo {
  background: url('../images/Elonia-flag-pin.png') no-repeat left;
  left: 2340px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#FloorTwoFreedoniaRoadTwo {
  background: url('../images/road-freedonia.png') repeat-x left;
  left: 1366px;
  bottom: 0;
  position: absolute;
  width: 970px;
  height: 70px;
}*/

/*#FloorTwoFreedoniaPinTwo {
  background: url('../images/Freedonia-flag-pin.png') no-repeat left;
  left: 1370px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}
*/

#FloorTwoEloniasBusinessRegisterTwo {
background: url('../images/Business-Register.png') no-repeat left;
left: 10400px;
top: 120px;
position: absolute;
width: 509px;
height: 356px;
}

#FloorTwoFreedoniaPinL {
  background: url('../images/Freedonia-flag-pin.png') no-repeat left;
  left: 6840px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#FloorTwoFreedoniaPinR {
  background: url('../images/Freedonia-flag-pin-r.png') no-repeat left;
  left: 6750px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#FloorTwoFreedoniaPinRRR {
  background: url('../images/Freedonia-flag-pin-r.png') no-repeat left;
  left: 8120;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#FloorTwoFreedoniaPinLL {
  background: url('../images/Freedonia-flag-pin.png') no-repeat left;
  left: 4100px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

#FloorTwoFreedoniaPinRR {
  background: url('../images/Freedonia-flag-pin-r.png') no-repeat left;
  left: 5390px;
  bottom: 71px;
  position: absolute;
  width: 74px;
  height: 105px;
}

.TitleFifteen {
  left: 10500;
  top: 20px;
  position: absolute;
}

.TitleFourteen {
  left: 9860px;
  top: 20px;
  position: absolute;
}

.TitleSixteen {
  left: 9050px;
  top: 20px;
  position: absolute;
}

.TitleSeventeen {
  left: 8250px;
  top: 20px;
  position: absolute;
}

.TitleEightteen {
  left: 8650px;
  top: 20px;
  position: absolute;
}

.TitleNineteen {
  left: 7000px;
  top: 20px;
  position: absolute;
}

.TitleTwenty {
  left: 7580px;
  top: 20px;
  position: absolute;
}

.TitleTwentyOne {
  left: 6300px;
  top: 20px;
  position: absolute;
}

.TitleTwentyTwo {
  left: 5700px;
  top: 20px;
  position: absolute;
}

.TitleTwentyThree {
  left: 4700px;
  top: 20px;
  position: absolute;
}
/* ENDOF Downstairs */

/* Titles */

#Titles {
  font-weight: 700;
  font-size: 1.5rem;
}

.TitleOne {
  left: 1900px;
  top: 20px;
  position: absolute;
}

.TitleTwo {
  left: 2900px;
  top: 20px;
  position: absolute;
}

.TitleThree {
  left: 3500px;
  top: 20px;
  position: absolute;
}

.TitleFour {
  left: 4200px;
  top: 20px;
  position: absolute;
}

.TitleFive {
  left: 4990px;
  top: 20px;
  position: absolute;
}

.TitleSix {
  left: 5700px;
  top: 20px;
  position: absolute;
}

.TitleSeven {
  left: 6400px;
  top: 20px;
  position: absolute;
}

.TitleEight {
  left: 6900px;
  top: 20px;
  position: absolute;
}

.TitleNine {
  left: 7500px;
  top: 20px;
  position: absolute;
}

.TitleTen {
  left: 7900px;
  top: 20px;
  position: absolute;
}

.TitleEleven {
  left: 8550px;
  top: 20px;
  position: absolute;
}

.TitleTwelve {
  left: 9860px;
  top: 20px;
  position: absolute;
}

.TitleThirtenn {
  left: 10500px;
  top: 20px;
  position: absolute;
}
