#smiley {
  width: 256px;
  height: 243px;
  left: 800px;
  top: 180px;
  background-image: url('../../img/smiley.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: smileyLoopKeyframes 2s infinite ease-in-out, smileyEnterKeyframes 1s;
}

@keyframes smileyEnterKeyframes {
  0% {
    background-size: 0% 0%;
    left: 600px;
    top: 250px;
  }
  100% {
    background-size: 100% 100%;
    left: 800px;
    top: 180px;
  }
}

@keyframes smileyLoopKeyframes {
    0%   {
      opacity: 0.8; background-size: 90% 90%;
    }
    50%  {
      opacity: 1.0; background-size: 100% 100%;
    }
    100% {
      opacity: 0.8; background-size: 90% 90%;
    }
}
