#sun {
  width: 225px;
  height: 225px;
  left: 1300px;
  top: -40px;
  background-image: url('../../img/sun.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: sunEnterKeyframes 2s;
}

@keyframes sunEnterKeyframes {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}